{% block content %}

<body>
    <h4>Hi, <strong>{{name}}..!</strong></h4>
    <br /><br />
    <h5>Thanks for reaching me. I am very happy to be serving here...</h5>
    <br /><br />
    <div>
        <h3><strong>YOUR QUERY</strong></h3><br />
        <p>{{request}}</p>
        <hr />
    </div>
    <div>
        <h3><strong>MY REPLY</strong></h3><br />
        <p>{{response}}</p>
        <hr />
    </div>
    <hr />
    <h6>Again, thank you very much</h6>
    <hr />
    <br />
    <h5>Thanks & Regards</h5>
    <h6>Mrs. Lavanaya Muthurayappan</h6>
    <a href="tel:+919600234795">+91 - 9600234795</a>
    <a href="mailto:lavanyashenna@gmail.com" rel="noopener noreferrer">lavanyashenna@gmail.com</a>
    <a href="https://lavanyashenna.herokuapp.com/" rel="noopener noreferrer">Lavanaya's Henna</a>
</body>
{% endblock %}